    </section>
</section>
<footer class="main-footer">
    <p><a href="#">Home | </a><a href="#">Site Map | </a><a href="#">Contact Us</a></p>
    <p>Copyright &copy Stoyanka Kostadinova 2013 All rights reserved</p>
</footer>


<!-- Scripts goes here for fast site loading -->
<script src="../js/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="../js/jquery-migrate-1.2.1.js" type="text/javascript"></script>

<script>
    var nedtConfig = {
        navbarLink: null,
        activeClass: 'selected'
    };
    $('#navbar').on('click', 'li a', function (e) {
        $('li').removeClass('selected');
        $(this).addClass('selected');

    });
</script>
</body>
</html>