<!DOCTYPE html>
<html>
<head>
    <title>{% if page.title %} {{ page.title }} | {% endif %} Stoyanka Kostadinova, Cake Decorator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="Stoil Kostadinov">
    <meta charset="UTF-8">
    <link href="/stylesheets/style.css"  rel="stylesheet"/>
</head>
<body>
<section class="container">
    <header id="main-header">
        <section id="logo">
            <a href="#"><img src="img/logo3.png"></a>
        </section>
        <nav id="main-navigation">
            <ul id="navbar">
                <li><a href="index.html">HOME</a></li>
                <li><a href="about/index.html">ABOUT</a></li>
                <li><a href="gallery/index.html">GALLERY</a></li>
                <li><a href="contact/index.html">CONTACT</a></li>
            </ul>
        </nav>
    </header>
    <section class="content-wrapper">