<!DOCTYPE html>
<html>
<head>
    <title>{{ site.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="Stoil Kostadinov">
    <meta charset="UTF-8">
    <link href="stylesheets/style.css"  rel="stylesheet"/>
</head>
<body>
<section class="container">
    <header id="main-header">
        <section id="logo">
            <a href="#"><img src="img/logo3.png"></a>
        </section>
        <nav id="main-navigation">
            <ul id="navbar">
                <li class="selected"><a href="#">HOME</a></li>
                <li><a href="#">ABOUT</a></li>
                <li><a href="#">GALLERY</a></li>
                <li><a href="#">CONTACT</a></li>
            </ul>
        </nav>
    </header>
    <section class="content-wrapper">