html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
@font-face {
    font-family: JosefinSlab-Regular;
    src: url("../fonts/JosefinSlab-SemiBold.ttf");
}

html {
    background: url("../images/background2.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
}
body {
    font-family: JosefinSlab-Regular;
    font-size: 16px;
    height: 100%;
}
.container {
    min-height: 100%;
    margin-bottom: -90px;
    text-align: center;
}
#main-header {
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0 1px 2px;
    font-family: Arial,Helvetica,tahoma,sans-serif;
    font-size: 0.95em;
    padding: 10px 0 20px;
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: all .2s ease-in-out;
}
#main-header.fixed {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;

}
.fixed {
    background-color: #000000 !important;
    padding: 17px 0 0 !important;
}
.fixed #logo {
    display: none;
}
#logo {
    display: inline-block;
    margin: 10px 20px 0 0;
}
#main-navigation {
    display: inline-block;
    vertical-align: super;
}
#main-navigation #navbar {
    list-style: none;
    text-align: center;
    display: inline-block;

}
#main-navigation #navbar li {
    display: inline;
    margin: 0 1px;
    padding: 7px 0;
}
#main-navigation #navbar li a {
    text-decoration: none;
    color: rgba(255,255,255, .7);
    border-top: 1px solid rgba(255,255,255, .7);
    padding: 10px 80px 10px 5px;
}
#main-navigation #navbar li a:hover {
    color: rgba(253,248,171, .8);
    border-top: 1px solid rgba(253,248,171, .8);
}
#main-navigation #navbar li:hover  {
    border-top: 4px solid rgba(253,248,171, .8);
}
#main-navigation #navbar li.selected {
    border-top: 4px solid rgba(253,248,171, .8);
}
#main-navigation #navbar li.selected a {
    color: rgba(253,248,171, .8) !important;
    border-top: 1px solid rgba(253,248,171, .8);
}




.content-wrapper {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    margin: 130px auto 60px;
    max-width: 840px;
    padding: 0 0 60px 0;
    font-size: 1.1em;
    color: #ddd;
}
h1 {
    color: #615A54;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: left;
}
.article-content p {
    line-height: 1.6em;
    text-align: left;
}

/* -------------------- Sticky Footer ------------------------- */

.container:after {
    content: "";
    display: block;
}
.main-footer, .container:after {
    /* .push must be the same height as footer */
    height: 50px;
}
.main-footer {
    background-color: rgba(0, 0, 0, 0.7);
    color: rgba(255, 255, 255, 0.7);
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
}
.main-footer a {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    line-height: 1.6em;
}
.main-footer a:hover {
    color: rgba(253,248,171, .6);
}
/* ============================================================= */

/* ------------------------------------ Gallery --------------------------------- */
.gallery-category {
    display: block;
}
.gallery-category:hover .image-title {
    background-color: rgba(249,146,34, 0.5);
    display: block;
    width: 100%;
    height: 100%;
}
span.image-title {
    color: #fff;
    display: none;
    position: absolute;
    text-align: left;
    text-indent: 5px;
}
/* ----------------- stack images -------------------- */

li[class*='stack'] {
    display: inline-block;
    margin: 3%;
    list-style: none;
    position: relative;
}
li[class*='stack'], li[class*='stack']:before, li[class*='stack']:after {
    border: 10px solid #ffffff;
    box-shadow: 3px 2px 6px rgba(0,0,0, .6);
    border-radius: 3px;
    height: 150px;
}
li[class*='stack']:before, li[class*='stack']:after {
    content: "";
    z-index: -1;
    background-color: #000000;
    position: absolute;
    width: 100%;

}
li[class*='stack']:before {
    background-color: #615A54;
}
.stackOne:before {
    bottom: -1px;
    right: -18px;
    transform: rotate(6deg);
}
.stackOne:after {
    bottom: -9px;
    right: -8px;
    transform: rotate(-12deg);
}
.stackTwo:before {
    bottom: -34px;
    right: -22px;
    transform: rotate(0deg);
}
.stackTwo:after {
    bottom: -22px;
    right: -16px;
    transform: rotate(0deg);
}
.stackThree:before {
    bottom: -23px;
    right: -25px;
    transform: rotate(-8deg);
}
.stackThree:after {
    bottom: -15px;
    right: -17px;
    transform: rotate(-4deg);
}
.stackFour:before {
    bottom: -9px;
    left: -20px;
    transform: rotate(11deg);
}
.stackFour:after {
    bottom: -8px;
    left: -18px;
    transform: rotate(5deg);
}
.stackFive:before {
    bottom: -23px;
    left: -15px;
    transform: rotate(-8deg);
}
.stackFive:after {
    bottom: -7px;
    right: -20px;
    transform: rotate(8deg);
}
/* ================= stack images ==================== */

/* ==================================== gallery ================================== */
.article-content {
    padding: 20px;
}

.biography {
    padding: 60px 20px;
}
.biography #avatar {
    float: left;
    margin: 0 30px 0 0;
}
#avatar > img {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.9);
}
#biography h2 {
    font-size: 1.5em;
    font-weight: 600;
    margin: 0 0 10px 0;
    text-align: center;
}
#biography {
    text-align: justify;

}
#image-slider img {
    border: 20px solid rgba(100,100,100, .8);
    border-bottom: none;
    max-width: 800px;
}
#image-slider {
    position: relative;

}